/* This CSS resource incorporates links to font software which is the
   valuable copyrighted property of Type Network, Inc. and/or their
   suppliers. You may not attempt to copy, install, redistribute,
   convert, modify or reverse engineer this font software. Please
   contact Type Network with any questions: www.typenetwork.com */


	
@font-face {
	font-family: "Nobel-WGL Reg";
	font-weight: Normal;
	font-style: Normal;
	src: url("//cloud.typenetwork.com/licenseWeb/2851/fontfile/eot/?012cf35ab62039ff1d01b7fc3f319888a160d3c3");
        src: url("//cloud.typenetwork.com/licenseWeb/2851/fontfile/eot/?012cf35ab62039ff1d01b7fc3f319888a160d3c3#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/licenseWeb/2851/fontfile/woff2/?012cf35ab62039ff1d01b7fc3f319888a160d3c3") format("woff2"),
             url("//cloud.typenetwork.com/licenseWeb/2851/fontfile/woff/?012cf35ab62039ff1d01b7fc3f319888a160d3c3") format("woff");

}
	
@font-face {
	font-family: "Nobel It";
	font-weight: Normal;
	font-style: Italic;
	src: url("//cloud.typenetwork.com/licenseWeb/2854/fontfile/eot/?012cf35ab62039ff1d01b7fc3f319888a160d3c3");
        src: url("//cloud.typenetwork.com/licenseWeb/2854/fontfile/eot/?012cf35ab62039ff1d01b7fc3f319888a160d3c3#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/licenseWeb/2854/fontfile/woff2/?012cf35ab62039ff1d01b7fc3f319888a160d3c3") format("woff2"),
             url("//cloud.typenetwork.com/licenseWeb/2854/fontfile/woff/?012cf35ab62039ff1d01b7fc3f319888a160d3c3") format("woff");

}
	
@font-face {
	font-family: "Nobel Lt It";
	font-weight: Normal;
	font-style: Italic;
	src: url("//cloud.typenetwork.com/licenseWeb/2853/fontfile/eot/?012cf35ab62039ff1d01b7fc3f319888a160d3c3");
        src: url("//cloud.typenetwork.com/licenseWeb/2853/fontfile/eot/?012cf35ab62039ff1d01b7fc3f319888a160d3c3#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/licenseWeb/2853/fontfile/woff2/?012cf35ab62039ff1d01b7fc3f319888a160d3c3") format("woff2"),
             url("//cloud.typenetwork.com/licenseWeb/2853/fontfile/woff/?012cf35ab62039ff1d01b7fc3f319888a160d3c3") format("woff");

}
	
@font-face {
	font-family: "Nobel-WGL Lt";
	font-weight: Normal;
	font-style: Normal;
	src: url("//cloud.typenetwork.com/licenseWeb/2852/fontfile/eot/?012cf35ab62039ff1d01b7fc3f319888a160d3c3");
        src: url("//cloud.typenetwork.com/licenseWeb/2852/fontfile/eot/?012cf35ab62039ff1d01b7fc3f319888a160d3c3#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/licenseWeb/2852/fontfile/woff2/?012cf35ab62039ff1d01b7fc3f319888a160d3c3") format("woff2"),
             url("//cloud.typenetwork.com/licenseWeb/2852/fontfile/woff/?012cf35ab62039ff1d01b7fc3f319888a160d3c3") format("woff");

}
	

